#.gitignore

# Backup files
*~

# pycharm
.idea

# Vagrant
.vagrant
*/gems
*/tmp
*/setup_version
*/rgloader
*/boxes
*/data
*/insecure_private_key

# Read the doc & Sphinx
docs/_build
docs/_static
docs/_templates

